@media (min-width: 1260px){
.container {
     width: 1345px !important; 
}
}

@media (min-width: 1200px)
.container {
    /* width: 1170px; */
}
@media (min-width: 992px){
.container {
    width: 1128px;
}
}
@media (min-width: 768px)
.container {
    /* width: 750px; */
}