<script type="text/javascript" src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>


<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> Información generales</h3>

<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-light green-soft" href="javascript:;">
			<div class="visual">
				<i class="fa fa-car"></i>
			</div>
			<div class="details">
				<div class="number">
					<?php echo $dashboard['fin_ok'];?>
				</div>
				<div class="desc">
					Activaciones
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-light purple-soft" href="javascript:;">
			<div class="visual">
				<i class="fa fa-clock"></i>
			</div>
			<div class="details">
				<div class="number">
					<?php echo $dashboard['proceso'];?>
				</div>
				<div class="desc">
					En proceso
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;">
			<div class="visual">
				<i class="fa fa-rss"></i>
			</div>
			<div class="details">
				<div class="number">
					<?php echo $dashboard['libres'];?>
				</div>
				<div class="desc">
					Series Disponibles
				</div>
			</div>
		</a>
	</div>					
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;">
			<div class="visual">
				<i class="fa fa-comments"></i>
			</div>
			<div class="details">
				<div class="number">
					<?php echo $dashboard['total']; ?>
				</div>
				<div class="desc">
					Total
				</div>
			</div>
		</a>
	</div>
</div>
<!-- END DASHBOARD STATS -->
<div class="clearfix">
</div>
<div class="row">
	<div class="col-md-6 col-sm-6">
		<div class="portlet box green">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-question-circle"></i> Preguntas Frecuentes
				</div>
			</div>
			<div class="portlet-body">
				<div class="panel-group accordion scrollable" id="accordion2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_1">
									<b>¿Qué documentos adjuntar para Persona Natural o Jurídica?</b>
								</a>
							</h4>
						</div>
						<div id="collapse_2_1" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									<b>Requisitos Persona Natural </b><br>
									- Poder Simple (Firmado por el cliente) <br>
									- Fotocopia Cedula de Identidad por ambos lados <br>
									- Primera Inscripción, solicitud de transferencia, factura o nota de venta (acreditación del dominio del vehículo)
								</p>
								<p>
									<b>Requisitos Persona Jurídica</b> <br>
									- Poder simple autorización a SEDITAG. <br>
									- Fotocopia RUT empresa <br>
									- Fotocopia Cedula Identidad representante legal de empresa. <br>
									- Extracto de la escritura que nombra al representante legal. <br>
									- Primera Inscripción, Solicitud de Transferencia o Factura (acreditación del
									dominio del vehículo).
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_2">
									<b>¿Cuánto vale el arriendo del TAG mensual?</b>
								</a>
							</h4>
						</div>
						<div id="collapse_2_2" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									- Con boleta electrónica: $499 <br>
									- Sin boleta electrónica: $578 con IVA
								</p>								
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_3">
									<b>¿Se puede realizar un reemplazo de TAG?</b>
								</a>
							</h4>
						</div>
						<div id="collapse_2_3" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Sí, este reemplazo se realiza por agotamiento de vida útil o falla del dispositivo o
									cambio de dueño.
								</p>								
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_4">
									<b>¿Se puede realizar un reemplazo de TAG?</b>
								</a>
							</h4>
						</div>
						<div id="collapse_2_4" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Sí, este reemplazo se realiza por agotamiento de vida útil o falla del dispositivo o
									cambio de dueño.
								</p>								
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_5">
									<b>¿El cliente puede devolver el TAG a través de la automotora?</b>
								</a>
							</h4>
						</div>
						<div id="collapse_2_5" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Sí, este reemplazo se realiza por agotamiento de vida útil o falla del dispositivo o
									cambio de dueño.
								</p>								
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_6">
									<b>¿Cómo dar de baja y devolver un TAG de RDM y de otras Concesionarias?</b>
								</a>
							</h4>
						</div>
						<div id="collapse_2_6" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									El cliente devuelve el dispositivo y se da término al contrato de servicio. Los
									antecedentes o documentos debe presentar el cliente para devolver el TAG son
									los siguientes: <br>
								</p>
								<p>
									<b>Tramitación</b> <br>
									- Fotocopia Cedula de Identidad por ambos lados <br>
									- Dispositivo en físico <br>
									- Poder simple para todas las concesionarias <br>
								</p>
								<p>
									Este trámite tiene un costo de <b>$4.990 que deben ser cancelados por el cliente.</b>
									Los antecedentes anteriores se remiten junto con los antecedentes de activación y
									se suben al aplicativo para envío al cliente.
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_7">
									<b>¿Cuándo queda bloqueado un TAG por la autopista nativa?</b>
								</a>
							</h4>
						</div>
						<div id="collapse_2_7" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Cuando no se ha cancelado en 60 días la cuenta.
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_8">
									<b>¿Desde cuando queda activo el TAG?</b>
								</a>
							</h4>
						</div>
						<div id="collapse_2_8" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Inmediatamente puede utilizar todas las autopistas urbanas de Santiago e
									interurbanas que cuentan con telepeaje (TAG).
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_9">
									<b>¿Por dónde puede transitar el vehículo que adquiere TAG RDM?</b>
								</a>
							</h4>
						</div>
						<div id="collapse_2_9" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									<b>Región Metropolitana:</b> Todas las autopistas urbanas de Santiago; Autopista
									Central, Vespucio Norte y Sur, Costanera Norte, Túnel San Cristóbal, entre otras
								</p>
								<p>
									<b>Regiones:</b> Autopistas Interurbanas que cuenten con sistema TAG; Ruta 160, Ruta
									68, entre otras
								</p>
								<p>
									<b>Tramo Santiago-Talca Peaje Troncal</b> (Río Maipo, Angostura y Quinta) y Vías
									Mixtas en las 39 Plazas de Peaje Lateral.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="col-md-6 col-sm-6">
		<div class="portlet box purple-soft">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-search"></i> Buscador de Patentes
				</div>
			</div>
			<div class="portlet-body" id="portlet_body_search">
				<div class="row" style="padding:25px;">					
					<div class="col-md-6 col-md-offset-3">
						<div class="input-group">
							<input autocomplete="off" id="input_patente" type="text" class="form-control input-lg input-small" placeholder="Patente" maxlength="6" style="text-transform:uppercase" >
							<span class="input-group-btn">
								<button onclick="buscaPatente()" class="btn purple-soft btn-lg" type="button" style="padding: 11px 16px !important;">Buscar</button>
							</span>
						</div>
					</div>					
				</div>				
				<div id="div_search_ok" style="display: none;">
					<div class="well">
						<div class="row">
							<div class="col-md-6">
								<p> <b>Patente :</b> <span id="patente_search"></span></p> 
								<p> <b>Marca :</b> <span id="marca_search"></span></p> 
								<p> <b>Modelo :</b> <span id="modelo_search"></span></p>
								<p> <b>Año :</b> <span id="year_search"></span></p> 
							</div>
							<div class="col-md-6">
								<p> <b>Nombre :</b> <span id="nombre_search"></span></p> 
								<p> <b>RUT :</b> <span id="rut_search"></span></p> 
								<p> <b>Correo :</b> <span id="correo_search"></span></p>
								<p> <b>Teléfono :</b> <span id="telefono_search"></span></p> 
							</div>
							<div id="file_contrato_search" class="col-md-12 text-center" style="padding-top: 30px;">
								
							</div>
						</div>
					</div>
				</div>	
				<div id="div_search_nok" class="row" style="display: none;">
					<div class="col-md-12 text-center">
						<h2> Patente no encontrada </h2>
					</div>
					<br>
				</div>				

			</div>
		</div>	
	</div>
</div>
<script>
	function buscaPatente()
	{
		if ($("#input_patente").val().length < 6) {
			toastr.info("Debes ingresar al menos 6 caracteres");
			return false;
		}
		$.ajax(
		{
			url : '<?php echo $this->basePath().'/app/contrato/buscavehiculo';?>',
			type: "POST",
			data : {'patente' : $("#input_patente").val()},
			dataType : 'json',
			beforeSend: function(){
				$("#div_search_nok").fadeOut();
				$("#div_search_ok").fadeOut();
				Metronic.blockUI({
					target: '#portlet_body_search',
					boxed: true
				});
			},
			success : function(r) {
				console.log(r)
				if (r.existe == "si") {
					if (r.contrato.length>0){
						$("#div_search_ok").fadeIn();
						$("#patente_search").html(r.contrato[0].patente.toUpperCase());
						$("#marca_search").html(r.contrato[0].marca);
						$("#modelo_search").html(r.contrato[0].modelo);
						$("#year_search").html(r.contrato[0].year);

						$("#nombre_search").html(r.contrato[0].nombre+' '+r.contrato[0].apellido);
						$("#rut_search").html(r.contrato[0].rut);
						$("#correo_search").html(r.contrato[0].correo);
						$("#telefono_search").html(r.contrato[0].telefono);

						if (r.contrato[0].estado == "FIN OK") {
							var url = '<?php echo $this->basePath().'/files_contrato/'?>'+r.contrato[0].id+'_anexo.pdf';							
							$("#file_contrato_search").html("").html('<i class="fa fa-file" style="font-size: 20px;"></i>&nbsp;<a target="_blank" href='+url+'>Ver Contrato </a>');
						}
						if (r.contrato[0].estado == "EN PROCESO") {
							$("#file_contrato_search").html("").html('<i class="fa fa-clock" style="font-size: 20px;"></i>&nbsp; TAG en proceso de activación');
						}

						Metronic.unblockUI('#portlet_body_search');
					}else{
						$("#div_search_nok").fadeIn();
						Metronic.unblockUI('#portlet_body_search');
					}	
				}else{						
					$("#div_search_nok").fadeIn();
					Metronic.unblockUI('#portlet_body_search');
				}

			},
			error: function(jqXHR, textStatus, errorThrown) 
			{
				toastr.info("Hubo un problema, favor intentar más tarde.");     
			}
		});
	}
</script>