<style>
html{
	font-family: DejaVu Sans; 
}
h5{	 
	font-weight: 500;
	margin-bottom: 0px;
}
.text-center{
	text-align: center;
}
.container{	
	padding-right: 25px;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;
}
.div-border{
	margin-top: 0;
	margin-bottom: 5px;

	border-style: solid;	
	border-width: 0.5px;
	border-color: black;
	
	font-size: 13px;
	line-height: 15px;
	padding-top: 1px;
	padding-bottom: 3px;
	padding-left: 4px;

}
.logo{	
	float: right;	
	padding-right: 40px;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 5px;
	text-align: center;
}
th{
	font-size: 11px;
	font-weight: bold;
}
td{
	font-size: 8px;
	border-collapse: separate;
}
.parrafo{
	font-size: 12px;
	text-align: justify;
	line-height: 13px;
}
.firma1{	
	text-align: center;
	border-top: 0.5px solid black;
	font-size: 12px;
	width: 45%;
	margin-left: 180px;
	display: inline-block;
	height: 100px;
}
.msge{
	font-size: 11px;
}
</style>
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico"/>
	<title><?php //echo $title;?></title>
</head>	

<div class="container">

	<div style="text-align: right;">
		<img src="<?php echo $_SERVER['DOCUMENT_ROOT'].'/img/logo-app.png';?>" class="logo" width="100px"/>
	</div>

	<div class="text-center" style="padding-top: 45px;margin-bottom: 0px;">
		<h3>ENTREGA DISPOSITIVOS TAG</h3>      		
	</div>	
			<p style="font-size: 12px;">Por medio de la presente acta, se hace entrega de <b><?php echo count($tag); ?> dispositivos TAG</b> para ser activados en vehículos <b>Clase <?php echo $carga[0]['clase'].' - '.$carga[0]['clase_detalle']; ?>,</b> todos debidamente rotulados con series correladas las cuales se detallan a continuación:</p>

			<?php		
		$maxCols = 7;
		$chunked = array_chunk( $tag, $maxCols );
		?>
	<table style="width:100%">
		<?php 
		foreach ($chunked as $chunk) {
			echo "<tr>";
			foreach ($chunk as $key => $value) {
				echo "<td>".$value['serie']."</td>";
			}
			echo "</tr>";
		}
		?>
		
	</table>
	<br>
	<br><br><br><br><br>

	<div class="firma1">
		Nombre, Rut y Firma de quien recibe
	</div>

</div>
</body>
</html>

