	<?php                                
	$form = $this->form;
	$form->prepare();
	$form->setAttributes(array(
		'action' => $this->basePath()."/admin/serie/insertar",
		'method' => 'post',
		'id'=>'form_serie',
		'role' => 'form'
	));
	echo $this->form()->openTag($form);  
	?>
	<div class="form-body row">
		<div class="col-md-4">
			<div class="form-group">
				<label>Automotora</label>
				<?php 
				echo $this->formRow($this->form->get('automotora'));
				?>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>Clase</label>
				<?php 
				echo $this->formRow($this->form->get('clase'));
				?>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="file_series">Series</label>
				<input name="serie" type="file" id="file_series" required="true">
				<p class="help-block">
					Archivo con listado de series
				</p>
			</div>
		</div>
	</div>
	<div class="form-actions">
		<div class="col-md-12">
			<?php 
			echo $this->formRow($this->form->get('enviar'));
			?>
		</div>
	</div>
	<?php                                
	echo $this->form()->closeTag($form);  
	?>
	<script>
//////////////////
//  Post Form   //
//////////////////
$("#form_serie").submit(function(e)
{
    //var postData = $(this).serializeArray();
    var formData = new FormData($(this)[0]);         
    var formURL = $(this).attr("action");

    $.ajax(
    {
    	url : formURL,
    	type: "POST",
    	data : formData,
    	dataType : 'json',
    	contentType:false,
    	processData:false,  
    	cache:false,
    	success : function(response) {
    		if (response.status == 'ok'){
    			toastr.success(response.desc);
    			getView('serie','tabla','div_ver');
    			getView('serie','proceso','div_proceso');
    			$('#form_serie')[0].reset();
    		}else{
    			toastr.warning(response.desc);
    		}      
    	},
    	error: function(jqXHR, textStatus, errorThrown) 
    	{
    		toastr.error("Error! Favor contactar a nuestro equipo de soporte")      
    	}
    });
    e.preventDefault();
});
/*
document.getElementById('file_series').addEventListener('change', readFile, false);
function readFile (evt) {
	var files = evt.target.files;
    var file = files[0];           
    var reader = new FileReader();
   	new LineReader(file).readLines(function(line){ 
		var x =	line*1;
		if (x === parseInt(x, 10)){
			var valido = true;
			console.log(valido)
		}else{    		
    		var valido = false;
    		console.log(valido)
    	}
	});
    muestraValido(valido);
    }
function muestraValido(valido){
	    if(!valido){
       		toastr.warning("Archivo contiene letras o caracteres inválidos.");
       		$("#file_series").val("");
       	}else{
       	toastr.success("Archivo válido");
       	}
       }*/
   </script>