<div class="portlet light bordered">
									<div class="portlet-title tabbable-line">
										<div class="caption">
											<i class="fa fa-barcode font-blue-steel"></i>
											<span class="caption-subject bold font-blue-steel uppercase">
											Series TAG </span>
											<span class="caption-helper"></span>
										</div>
										<ul class="nav nav-tabs">
											<li>
												<a href="#portlet_proceso" data-toggle="tab">
												Mis cargas</a>
											</li>
											<li>
												<a href="#portlet_ver" data-toggle="tab">
												Ver series</a>
											</li>
											<li class="active">
												<a href="#portlet_carga" data-toggle="tab">
												Nueva carga</a>
											</li>
										</ul>
									</div>
									<div class="portlet-body">
										<div class="tab-content">
											<div class="tab-pane" id="portlet_proceso">
												<div id="div_proceso"></div>
											</div>
											<div class="tab-pane active" id="portlet_carga">
												<div class="form" id="div_carga"></div>
											</div>
											<div class="tab-pane" id="portlet_tab2">
												
											</div>
											<div class="tab-pane " id="portlet_ver">
												<div id="div_ver"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
<script>
	getView('serie','carga','div_carga');
	getView('serie','tabla','div_ver');
	getView('serie','proceso','div_proceso');
</script>