<script type="text/javascript" src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>

<div class="row" style="margin: 15px">
	<table class="table table-striped"  id="tabla_proceso" >
		<thead>
			<tr>
				<th>N&deg;</th>
				<th>AUTOMOTORA</th>
				<th>CLASE</th>
				<th>FECHA DE CARGA</th>
				<th>USUARIO</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>

<script>
	/* +++++++++++++++++++++++++++++++ */
	/* Configuracion inputs formulario */
	/* +++++++++++++++++++++++++++++++ */
    //$('#ip_dns').mask('0ZZ.0ZZ.0ZZ.0ZZ', {translation:  {'Z': {pattern: /[0-9]/, optional: true}}});
    //$("#tipo_dns").bootstrapSwitch(); 
    //$("#entel_dns").bootstrapSwitch();
 //Flat red color scheme for iCheck
 /* ++++++++++++++++++++++++++++ */
 /* Instancia & Config DataTable */
 /* ++++++++++++++++++++++++++++ */
 
 var table = $('#tabla_proceso').DataTable(
 {    
 	"ajax" : {        
 		"url": "<?php echo $this->basePath();?>" + "/admin/serie/proceso-get","dataSrc":""},
 		"aoColumns": [
 		{ "data": "id" },
 		{ "data": "automotora" },
 		{ "data": null,"render": function (data) {            
 			return data.clase+' '+data.clase_detalle;
 			}
 		},
 		{ "data": "fecha_carga" },        
 		{ "data": "user_create" }, 
 		{ "data": null,"render": function (data) {            
 			     return '<a target="_blank" href="admin/serie/acta-pdf/'+data.id+'" class="btn btn-green btn-sm"><i class="fa fa-print"></i></a>';
 			}
 		}
 	],
 	"language": 
 	{
 		"sProcessing": '<img src="<?php echo $this->basePath().'/img/busy1.gif';?>"/>',
 		"sLengthMenu": "Mostrar _MENU_ registros",
 		"sZeroRecords": 'No se han encontrado registros.',
 		"sEmptyTable": "Ningún dato disponible en esta tabla",
 		"sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_",
 		"sInfoEmpty": "Registros del 0 al 0 de un total de 0",
 		"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
 		"sInfoPostFix": "",
 		"sSearch": "Buscar:",
 		"sUrl": "",
 		"sInfoThousands": ",",
 		"sLoadingRecords": 'Cargando ...',
 		"oPaginate": {
 			"sFirst": "Primero",
 			"sLast": "Último",
 			"sNext": "Siguiente",
 			"sPrevious": "Anterior"
 		}
 	},
 	"order": [[0, 'desc']]
 });
</script>