<script type="text/javascript" src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>

<div class="row" style="margin: 15px">
    <table class="table table-striped"  id="tabla_series" >
        <thead>
            <tr>
                <th>SERIE TAG</th>
                <th>AUTOMOTORA</th>
                <th>ESTADO</th>
                <th>FECHA CARGA</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<script>
    /* +++++++++++++++++++++++++++++++ */
    /* Configuracion inputs formulario */
    /* +++++++++++++++++++++++++++++++ */
    //$('#ip_dns').mask('0ZZ.0ZZ.0ZZ.0ZZ', {translation:  {'Z': {pattern: /[0-9]/, optional: true}}});
    //$("#tipo_dns").bootstrapSwitch(); 
    //$("#entel_dns").bootstrapSwitch();
 //Flat red color scheme for iCheck
 /* ++++++++++++++++++++++++++++ */
 /* Instancia & Config DataTable */
 /* ++++++++++++++++++++++++++++ */
 
 var table = $('#tabla_series').DataTable(
 {    
    "ajax" : {        
        "url": "<?php echo $this->basePath();?>" + "/admin/serie/get","dataSrc":""},
        "aoColumns": [
        { "data": "serie" },
        { "data": "automotora" },
        { "data": "estado" },
        { "data": "fecha_carga" },        
        { "data": null,"render": function (data) {            
            if(data.estado == "LIBRE"){
              return '<a class="btn btn-danger btn-sm eliminar"><i class="fa fa-trash"></i></a>';
            }else{
                return '';
            }            
        }
        }, 
        ],
        "language": 
        {
            "sProcessing": '<img src="<?php echo $this->basePath().'/img/busy1.gif';?>"/>',
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": 'No se han encontrado registros.',
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_",
            "sInfoEmpty": "Registros del 0 al 0 de un total de 0",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": 'Cargando ...',
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            }
        },
        "order": [[0, 'desc']]
    });

    /* +++++++++ */
    /*  ELIMINAR */
    /* +++++++++ */
 table.on('click', 'a.eliminar', function (e) {    
    e.preventDefault();
    var bool = confirm("¿Está seguro que desea eliminar?");
    if (bool) {      
        //$(this).closest('tr').fadeOut().remove();   
        var serie = $(this).closest('tr').find("td:first").text();
        $.ajax(
        {
          url: "<?php echo $this->basePath();?>" + '/admin/serie/borra',
          type: "POST",
          data : {serie:serie},
          dataType : 'json',
          success : function(response) { 
            if (response.status == "ok") {
                toastr.success(response.desc)
                getView('serie','tabla','div_ver');
            }else{
                toastr.warning(response.desc)
            }
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {

        }
    });
    }       
});
 /* +++++++ */
 /*  EDITAR */
 /* +++++++ */
 /*
 table.on('click', 'a.edit', function (e) {
    e.preventDefault();

        // Mostramos Modal y seteamos Titulo
        $("#titulo-modal").text("Edición de DNS");
        $("#modal-dns").modal();   

        $('#form-dns').attr('action', "/index.php/monitordns/index/editar-dns");    

        //Mostramos Boton Insertar
        $("#btn_insert").hide();
        $("#btn_save").show();            
        
        //Recorremos cada elemento TD de la fila
        $.each($(this).closest('tr').find("td"), function() {             

            //Obtenemos indice y valor
            var index = $(this).index();
            var value = $(this).text();        

            //Completamos formulario segun corresponda
            switch (index) {
                case 0:
                $("#id_dns").val(value); break;
                case 1:
                $("#ip_dns").val(value); break;
                case 2:
                $("#desc_dns").val(value); break;
                case 3:
                if(value == "ENTEL"){$('#entel_dns').bootstrapSwitch('state', true);}else{$('#entel_dns').bootstrapSwitch('state', false);}
                break;
                case 4:                
                if(value == "MOBILE"){$('#tipo_dns').bootstrapSwitch('state', true);}else{$('#tipo_dns').bootstrapSwitch('state', false);}
                break;
            }            
        });
    } );*/

/* +++++++++ */
/*  INSERTAR */
/* +++++++++ */
 /*
 $("#insertar_dns").click(function(){
        //Limpiamos FORM y luego seteamos URL 
        resetForm($('#form-dns')); 
        $('#form-dns').attr('action', "/index.php/monitordns/index/insert-dns");
        
        //Mostramos Boton Insertar
        $("#btn_save").hide();
        $("#btn_insert").show();   

        //Seteamos Titulo y mostramos MODAL 
        $("#titulo-modal").text("Insertar nuevos DNS");
        $("#modal-dns").modal();
    });
    */
    /* +++++++++++++++++++++++++++ */
    /*     POST FORM WITH AJAX     */
    /* +++++++++++++++++++++++++++ */
 /*
 $("#form-dns").submit(function(e)
 {        
    $("#modal-dns").modal('hide');    
    var formData = $(this).serializeArray();
    var tipo = ($("#tipo_dns").is(':checked')) ? 1 : 0;
    var entel = ($("#entel_dns").is(':checked')) ? 1 : 0;
    formData.push({ name: "tipo", value: tipo });
    formData.push({ name: "entel", value: entel });

    var formURL = $(this).attr("action");
    
    //Enviamos Formulario por AJAX      
    $.ajax(
    {
      url: "<?php //echo $this->basePath();?>" + formURL,
      type: "POST",
      data : formData,
      dataType : 'json',
      beforeSend: function(){        
        $(".modal-footer button").prop('disabled', true);        
    },
    success : function(response) { 
      if (response.estado == "OK") {       
        configNotify(response.accion, response.desc, "success", 4800);
        table.ajax.reload();
    }else{
        configNotify(response.accion, response.desc, "danger", 4800);
    }
    $(".modal-footer button").prop('disabled', false);          
},
error: function(jqXHR, textStatus, errorThrown) 
{

}
});

    //Evitamos envio de formulario
    e.preventDefault();
});

*/
/* ++++++++++++++++++++++++++++++ */
/*  Filtros & Buscadores x Campo  */
/* ++++++++++++++++++++++++++++++ */
 /*
        { "data": "nombre" },
        { "data": "negocio" },
        { "data": "jefe" },
        { "data": "supervisor" },
        { "data": "kam" },
        { "data": "zona" },
        { "data": "funcion" },
        { "data": "canal" },
        { "data": "usersga" },
        { "data": "correo" },
        */


     /*

 $('#table_dotacion tfoot th').each(function () {
    var title = $(this).text();
    console.log(title)
    switch (title) {        
                case 'RUT':
                $(this).html('<input id="1" type="text" size="4" class="form-control"/>');
                break;
                case 'NEGOCIO':                
                $(this).html('<input id="2" type="text" size="10" class="form-control">');
                break;
                case 'SUPERVISOR':
                $(this).html('<input id="3" type="text" size="10" class="form-control">');
                break;
                case 'KAM':
                $(this).html('<input id="4" type="text"  size="24" class="form-control"/>');
                break;
                case 'ZONA':
                $(this).html('<input id="5" type="text" size="2" class="form-control"/>');
                break;

            }
        });
 table.columns(1).each(function () {
    var that = this;

    $('#table_dotacion input#1').on('keyup change', function () {
        that
        .search(this.value)
        .draw();
    });
});

 table.columns(2).each(function () {
    var that = this;

    $('#table_dotacion input#2').on('keyup change', function () {
        that
        .search(this.value)
        .draw();
    });
});

 table.columns(3).each(function () {
    var that = this;

    $('#table_dotacion input#3').on('keyup change', function () {
        that
        .search(this.value)
        .draw();
    });
});

 table.columns(4).each(function () {
    var that = this;

    $('#table_dotacion input#4').on('keyup change', function () {
        that
        .search(this.value)
        .draw();
    });
});
 table.columns(5).each(function () {
    var that = this;

    $('#table_dotacion input#5').on('keyup change', function () {
        that
        .search(this.value)
        .draw();
    });
});


 // Setup - add a text input to each footer cell
 table.columns().footer().each( function () {
    var title = $(this).text();
    console.log(title)
    $(this).html('<input type="text" placeholder="'+title+'" />');
} );        
    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                .search( this.value )
                .draw();
            }
        } );
    } );
*/
</script>