<style>
html{
	font-family: DejaVu Sans; 
}
h5{	 
	 font-weight: 500;
	 margin-bottom: 0px;
}
.text-center{
	text-align: center;
}
.container{	
	padding-right: 25px;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;
}
.div-border{
	margin-top: 0;
	margin-bottom: 5px;

	border-style: solid;	
	border-width: 0.5px;
	border-color: black;
	
	font-size: 13px;
	line-height: 15px;
	padding-top: 1px;
	padding-bottom: 3px;
	padding-left: 4px;

}
.logo{	
	float: right;	
	padding-right: 40px;
}

.parrafo{
	font-size: 12px;
	text-align: justify;
	line-height: 13px;
}
.firma1{	
	text-align: center;
	border-top: 0.5px solid black;
	font-size: 12px;
	width: 37%;
	margin-left: 37px;
	display: inline-block;
	height: 100px;
}
.firma2{	
	text-align: center;
	border-top: 0.5px solid black;
	font-size: 12px;
	width: 30%;
	margin-left: 120px;
	display: inline-block;
	height: 100px;
}
.msge{
	font-size: 11px;
}
</style>
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico"/>
	<title><?php echo $title;?></title>
</head>	

<div class="container">

	<div style="text-align: right;">
		<img src="<?php echo $_SERVER['DOCUMENT_ROOT'].'/img/logo-rdm.jpeg';?>" class="logo" width="100px"/>
	</div>

	<div class="text-center" style="padding-top: 45px;margin-bottom: 0px;">
		<h5>ANEXO I CONTRATO DE ARRENDAMIENTO DE TAG</h5>      		
	</div>

	<p style="font-size: 12px;margin-bottom: 5px;"><b>Datos del cliente</b></p>
	<div class="div-border">
		Nombre Completo: <?php echo $nombre;?><br>
		RUT: <?php echo $rut;?>
		<br>
		<br>		
		Dirección: <?php echo $direccion;?><br>
		Teléfono Principal: <?php echo $telefono;?><br>
		Email: <?php echo $correo;?>
	</div>	

	<p style="font-size: 12px;margin-bottom: 5px;margin-top: 5px;"><b>Forma de Pago</b></p>
	<div class="div-border">
		Método de Pago:  NINGUNO<br>
		RUT Titular:	<?php echo $rut_titular;?><br>	
		Nombre Titular: <?php echo $nombre_titular;?><br>
		Emisión de Documentos Electrónicos:		<?php echo $doc_electronico;?><br>
	</div>
	<table style="width:100%">
		<tr>
			<th>Patente</th>
			<th>Clase</th>
			<th>Marca</th>
			<th>Modelo</th>
			<th>SERIE de TAG</th>
			<th>Fecha</th>
		</tr>
		<tr>
			<td><?php echo strtoupper($patente);?></td>
			<td><?php echo $clase;?></td>
			<td><?php echo $marca;?></td>
			<td><?php echo $modelo;?></td>
			<td><?php echo $serie;?></td>
			<td><?php echo $fecha;?></td>
		</tr>
	</table>
	<br>
	<div class="parrafo">
		El Cliente recibe los siguientes documentos: <br>
		a) Condiciones Generales y Operativas de Uso de TAG y Cobro de Tarifas o Peajes (“Condiciones Generales”)<br>
		b) Contrato de Arrendamiento de TAG, Pacto de Habilitación de Uso TAG y Obligaciones Anexas. <br>
		<br>
		Se hace presente que, en el evento que el Cliente opte por la opción de emisión de documentos electrónicos, éste
		autoriza el envío de dichos solamente por un medio electrónico vía e-mail o mediante su publicación en el sitio web www.rutamaipo.cl, así como también se compromete al cumplimiento de las condiciones, en relación a los
		documentos tributarios, en caso de requerirlo para respaldar información contable en conformidad a la normativa
		vigente.<br>
		<br>
		Ruta del Maipo Sociedad Concesionaria S.A., está autorizada para cobrar una renta mensual por concepto de
		arrendamiento del dispositivo TAG, por un valor de $ 578. En caso que el usuario suscriba el envío por medios
		electrónicos de la Factura y/o Boleta, la cuota es de $ 499 (ambos incluyen IVA). <br>
		<br>
		Estos precios se reajustarán anualmente en el mes de diciembre conforme a la variación del Índice de Precios al
		Consumidor (IPC) registrada entre noviembre del año anterior y noviembre del año en curso, dicho reajuste será
	</div>

	<br><br><br><br><br>

	<div class="firma1">
		Ruta del Maipo <br>
		Sociedad Concesionaria S.A
	</div>
	<div class="firma2">
		Firma de Cliente <br>		
	</div>

	<div class="msge">
		* Este documento refleja los datos enviados a la concesionaria, dispositivo TAG se encuentra en proceso de alta.  <br>		
	</div>

</div>
</body>
</html>

