<div class="col-md-12">
	<h4 class="font-green-haze"> <i class="fa fa-car"></i> Datos Vehículo</h4>
	<hr style="border-top: 2px solid #eee;">
</div>
<div id="inputs_vehiculo">
	<div class="col-md-12">
		<div class="col-md-6 form-group">
			<div class="form-group">
				<label class="col-md-3 control-label">Patente</label>
				<div class="col-md-9">
					<div class="input-group input-medium">
						<span class="input-group-addon">
							<i class="fa fa-car"></i>
						</span>
						<?php 
						echo $this->formRow($this->form->get('patente'));
						?>
						<span class="input-group-addon" id="patente_dv">

						</span>
					</div>
					<!-- /input-group -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Marca</label>
				<div class="col-md-9">
					<div class="input-group" style="width: 70%;">
						<span class="input-group-addon">
							<i class="fa fa-car"></i>
						</span>
						<?php 
						echo $this->formRow($this->form->get('marca'));
						?>
						<span class="input-group-addon">
							<i class="fa fa-plus"></i>
						</span>
					</div>
					<!-- /input-group -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Modelo</label>
				<div class="col-md-9">
					<div class="input-group"  style="width: 70%;">
						<span class="input-group-addon">
							<i class="fa fa-car"></i>
						</span>
						<?php 
						echo $this->formRow($this->form->get('modelo'));
						?>
						<span class="input-group-addon">
							<i class="fa fa-plus"></i>
						</span>
					</div>
					<!-- /input-group -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Clase</label>
				<div class="col-md-9">
					<div class="input-group input-medium">
						<span class="input-group-addon">
							<i class="fa fa-list-ol"></i>
						</span>
						<?php 
						echo $this->formRow($this->form->get('clase'));
						?>
					</div>
					<!-- /input-group -->
				</div>
			</div>
		</div>
		<div class="col-md-6 form-group">
			<div class="form-group">
				<label class="col-md-3 control-label">Color</label>
				<div class="col-md-9">
					<div class="input-group input-medium">
						<span class="input-group-addon">
							<i class="fa fa-car"></i>
						</span>
						<?php 
						echo $this->formRow($this->form->get('color'));
						?>
					</div>
					<!-- /input-group -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Kilometraje</label>
				<div class="col-md-9">
					<div class="input-group input-medium">
						<span class="input-group-addon">
							<i class="fa fa-car"></i>
						</span>
						<?php 
						echo $this->formRow($this->form->get('kilometraje'));
						?>
					</div>
					<!-- /input-group -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Año</label>
				<div class="col-md-9">
					<div class="input-group input-medium">
						<span class="input-group-addon">
							<i class="fa fa-car"></i>
						</span>
						<?php 
						echo $this->formRow($this->form->get('year'));
						?>
					</div>
					<!-- /input-group -->
				</div>
			</div>
		</div>			
	</div>
</div>
<script>
	$("#patente").blur(function(){	
		var dv = jQuery.PatenteChilena.getDV(this.value);
		console.log(dv)
		if(dv >= 0 || dv == "K"){
			$("#patente").popover('destroy').css("background","#82ff82");		
			$("#patente_dv").html(dv);
			$('#send_tag').removeAttr("disabled");		
		}else{		
			$("#patente").attr('data-content','Pantente Incorrecta').css("background","#FD8C92").popover('show');
			$("#patente_dv").html("");
			$('#send_tag').attr("disabled","disabled");
		}
	});


//////////////////////
//  Busca Patente  //
/////////////////////
/*$("#patente").change(function()
{	
	$.ajax(
	{
		url : 'app/contrato/buscavehiculo',
		type: "POST",
		data : {'patente' : $("#patente").val()},
		dataType : 'json',
		success : function(r) {
			if (r.status == 'ok'){																	
				if (r.existe == 'si'){
					if (r.contrato.length>0) {
						toastr.warning(r.desc);
						$("#patente").val('').blur();
					}else{
						cargaVehiculo(r.vehiculo);
					}
				}else{
					limpiaVehiculo($("#patente").val());
					$("#id_vehiculo").val("");
				}
			}
		},
		error: function(jqXHR, textStatus, errorThrown) 
		{
			toastr.error("Error! Favor contactar a nuestro equipo de soporte");     
		}
	});
});*/
function limpiaVehiculo(patente){
	$("#inputs_vehiculo :input").each(function(){		
		if ($(this).attr('id') != 'patente'){
			$(this).val('');			
		}
	});
	$("#marca").select2().val('');
	$("#modelo").select2().val('');	
}
function cargaVehiculo(vehiculo){	
	$("#clase").val(vehiculo[0]['id_clase']);
	$("#kilometraje").val(vehiculo[0]['kilometraje']);
	$("#color").val(vehiculo[0]['color']);
	$("#year").val(vehiculo[0]['year']);
	$("#marca").select2().val(vehiculo[0]['id_marca']).trigger('change');
	setTimeout(function(){$("#modelo").select2().val(vehiculo[0]['id_modelo']).trigger('change');},1500);	
}
</script>
