<div id="inputs_persona">
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label class="col-md-3 control-label">Tipo Persona</label>
			<div class="col-md-9" style="margin-top: -9px;margin-bottom: 7px;">
				<div class="radio-list">
					<label class="radio-inline">
						<input type="radio" name="tipo_persona" value="natural" id="persona_natural" checked="true" > Natural
					</label>
					<label class="radio-inline">
						<input type="radio" name="tipo_persona" value="juridica" id="persona_juridica" > Jurídica
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-3 control-label">RUT</label>
			<div class="col-md-9">
				<div class="input-group input-medium">
					<span class="input-group-addon">
						<i class="fa fa-tag"></i>
					</span>
					<?php 
					echo $this->formRow($this->form->get('rut'));
					?>
				</div>
				<!-- /input-group -->
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-3 control-label" id="label_nombre">Nombre</label>
			<div class="col-md-9">
				<div class="input-group input-medium">
					<span class="input-group-addon">
						<i class="fa fa-user"></i>
					</span>
					<?php 
					echo $this->formRow($this->form->get('nombre'));
					?>
				</div>
				<!-- /input-group -->
			</div>
		</div>	
		<div id="div_apellido_apellido2">
			<div class="form-group">
				<label class="col-md-3 control-label">Apellido</label>
				<div class="col-md-9">
					<div class="input-group input-medium">
						<span class="input-group-addon">
							<i class="fa fa-user"></i>
						</span>
						<?php 
						echo $this->formRow($this->form->get('apellido'));
						?>
					</div>
					<!-- /input-group -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Apellido 2</label>
				<div class="col-md-9">
					<div class="input-group input-medium">
						<span class="input-group-addon">
							<i class="fa fa-user"></i>
						</span>
						<?php 
						echo $this->formRow($this->form->get('apellido2'));
						?>
					</div>
					<!-- /input-group -->
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label class="col-md-3 control-label">Teléfono</label>
			<div class="col-md-9">
				<div class="input-group input-medium">
					<span class="input-group-addon">
						<i class="fa fa-phone"></i>
					</span>
					<?php 
					echo $this->formRow($this->form->get('telefono'));
					?>
				</div>
				<!-- /input-group -->
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-3 control-label">Email</label>
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-envelope"></i>
					</span>
					<?php 
					echo $this->formRow($this->form->get('correo'));
					?>
					<span class="input-group-addon">
						<span class="checked"><input name="doc_electronico" type="checkbox" checked="true"></span>
					</span>
				</div>
				<!-- /input-group -->
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-3 control-label">Región</label>
			<div class="col-md-9">
				<div class="input-group input-medium">
					<span class="input-group-addon">
						<i class="fa fa-map-marker"></i>
					</span>
					<?php 
					echo $this->formRow($this->form->get('region'));
					?>
				</div>
				<!-- /input-group -->
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-3 control-label">Comuna</label>
			<div class="col-md-9">
				<div class="input-group input-medium">
					<span class="input-group-addon">
						<i class="fa fa-map-marker"></i>
					</span>
					<?php 
					echo $this->formRow($this->form->get('comuna'));
					?>
				</div>
				<!-- /input-group -->
			</div>
		</div>					
		<div class="form-group">
			<label class="col-md-3 control-label">Dirección</label>
			<div class="col-md-9">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-map-marker"></i>
					</span>
					<?php 
					echo $this->formRow($this->form->get('direccion'));
					?>
				</div>
				<!-- /input-group -->
			</div>
		</div>
	</div>	
</div>		
<script>	
	$("input[type=radio]").uniform();
	$("input[name='tipo_persona']").change(function(){
		if($(this).attr('id') == "persona_juridica"){
			$("#label_nombre").html("").html("Razón Social");
			$("#div_apellido_apellido2").fadeToggle();
			$("#div_apellido_apellido2 input").each(function(){
				$(this).attr("disabled",true);
			});
			
			$("#div_files_per_natural").fadeToggle();
			$("#div_files_per_juridica").fadeToggle();

			$("#div_files_per_natural input").each(function(){
				$(this).attr("disabled",true);
			});

			$("#div_files_per_juridica input").each(function(){
				$(this).removeAttr("disabled");
			});


		}else{

			$("#div_files_per_natural").fadeToggle();
			$("#div_files_per_juridica").fadeToggle();

			$("#div_files_per_juridica input").each(function(){
				$(this).attr("disabled",true);
			});
			$("#div_files_per_natural input").each(function(){
				$(this).removeAttr("disabled");
			});
			
			$("#label_nombre").html("").html("Nombre");
			$("#div_apellido_apellido2").fadeToggle();
			$("#div_apellido_apellido2 input").each(function(){
				$(this).removeAttr("disabled");
			});
		}
	});

	function ini(){
		comboComuna();
		setTimeout(function(){$( "#rut_cliente" ).focus();},1500);
	}
	ini();
	function comboComuna(){
		postData = {'region' : $('#region').find('option:selected').val()}
		$.ajax(
		{
			url : 'app/contrato/combocomuna',
			type: "POST",
			data : postData,
			dataType : 'json',
			success : function(response) {  
				var sel = $("#comuna");
				sel.empty();        
				$("#comuna").focus();
				var options = "";
				$.each(response, function(id, comuna) {
					options += "<option value='" + id + "'>" + comuna + "</option>";
				});
				$("#comuna").append(options);
				$("#comuna").append($("#comuna option").remove().sort(function(a, b) {
					var at = $(a).text(), bt = $(b).text();
					return (at > bt)?1:((at < bt)?-1:0);
				}));
			},
			error: function(jqXHR, textStatus, errorThrown) 
			{
				toastr.error("Error! Favor contactar a nuestro equipo de soporte");
			}
		});
	}
//////////////////
//  Busca RUT   //
//////////////////
$("#rut_cliente").change(function()
{
	var rut = $("#rut_cliente").blur().val();
	$.ajax(
	{
		url : 'app/contrato/buscarut',
		type: "POST",
		data : {'rut' : $("#rut_cliente").blur().val()},
		dataType : 'json',
		success : function(r) {
			if (r.status == 'ok'){																	
				if (r.existe == 'si'){
					cargaPersona(r.persona);
				}else{
					limpiaPersona(rut);
					$("#id_persona").val("");
				}
			}
		},
		error: function(jqXHR, textStatus, errorThrown) 
		{
			toastr.error("Error! Favor contactar a nuestro equipo de soporte");     
		}
	});
});
function limpiaPersona(rut){
	$("#inputs_persona :input").each(function(){		
		if ($(this).attr('id') != 'rut_cliente'){
			$(this).val('');			
		}
	});
}
function cargaPersona(persona){	
	$("#nombre_cliente").val(persona[0]['nombre']);
	$("#apellido_cliente").val(persona[0]['apellido']);
	$("#apellido2_cliente").val(persona[0]['apellido_2']);
	$("#telefono").val(persona[0]['telefono']);
	$("#correo").val(persona[0]['correo']);
	$("#direccion").val(persona[0]['direccion']);
	$("#region").val(persona[0]['id_region']).trigger('change');
	setTimeout(function(){$("#comuna").val(persona[0]['id_comuna']).trigger('change'); $("#patente").focus();},1500);
}
</script>