<div class="col-md-12">
	<h4 class="font-green-haze"> <i class="fa fa-car"></i> Devolución de TAG</h4>
	<hr>
</div>
<div class="col-md-12">
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label class="col-md-3 control-label">Con Devolución</label>
			<div class="col-md-9" style="margin-top: -9px;margin-bottom: 7px;">
				<div class="radio-list">
					<label class="radio-inline">
						<input type="radio" name="devolucion" id="dev_si" value="si"  > Sí
					</label>
					<label class="radio-inline">
						<input type="radio" name="devolucion" id="dev_no" value="no" checked="true" > No
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12" id="inputs_devolucion" style="display: none;">
	<div class="col-md-6">
		<div class="form-group">
			<label class="col-md-3 control-label">Serie</label>
			<div class="col-md-9">
				<div class="input-group input-medium">
					<span class="input-group-addon">
						<i class="fa fa-rss"></i>
					</span>
					<?php 
					echo $this->formRow($this->form->get('serie_devolucion')->setAttribute('disabled',true));
					?>
				</div>
				<!-- /input-group -->
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="exampleInputFile" class="col-md-3 control-label">Poder Simple</label>
			<div class="col-md-9">
				<input name="foto_poder_devolucion" type="file" id="foto_poder_devolucion" style="color: transparent" required="true" disabled="true">
			</div>
		</div>
	</div>
</div>

<script>
	$("input[name='devolucion']").change(function(){
		
		$("#inputs_devolucion").fadeToggle();
		if ($(this).attr('id') == "dev_no") {
			$("#inputs_devolucion input").each(function(){				
				$(this).attr("disabled",true);					
			});			
		}else{
			$("#inputs_devolucion input").each(function(){				
				$(this).removeAttr("disabled");				
			});			
		}
	});
</script>