<style>
.control-label {
	padding-top: 0px !important;
}
</style>
<div class="col-md-12">
	<h4 class="font-green-haze"> <i class="fa fa-file"></i> Archivos Adjuntos</h4>
	<hr>
</div>					
<div id="div_files_per_natural" class="col-md-12">
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label for="exampleInputFile" class="col-md-3 control-label">Foto Carnet</label>
			<div class="col-md-9">
				<input name="foto_carnet" type="file" id="foto_carnet" style="color: transparent" required="true">									
			</div>
		</div>
	</div>
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label for="exampleInputFile" class="col-md-3 control-label">Inscripción</label>
			<div class="col-md-9">
				<input name="foto_insc" type="file" id="foto_insc" style="color: transparent" required="true">
			</div>
		</div>
	</div>
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label for="exampleInputFile" class="col-md-3 control-label">Poder Simple</label>
			<div class="col-md-9">
				<input name="foto_poder" type="file" id="foto_poder" style="color: transparent" required="true">
			</div>
		</div>
	</div>
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label for="exampleInputFile" class="col-md-3 control-label">Decl. Jurada</label>
			<div class="col-md-9">
				<input name="foto_decl" type="file" id="foto_decl" style="color: transparent"required="true">
			</div>
		</div>
	</div>
</div>
<div id="div_files_per_juridica" class="col-md-12" style="display: none;">
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label for="exampleInputFile" class="col-md-3 control-label">Poder Aut. Seditag</label>
			<div class="col-md-9">
				<input name="foto_poder_juridica" type="file" id="foto_poder_juridica" style="color: transparent" required="true" disabled="true">									
			</div>
		</div>
	</div>
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label for="exampleInputFile" class="col-md-3 control-label">Foto RUT Empresa</label>
			<div class="col-md-9">
				<input name="foto_rut_juridica" type="file" id="foto_rut_juridica" style="color: transparent" required="true" disabled="true">
			</div>
		</div>
	</div>
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label for="exampleInputFile" class="col-md-3 control-label">Carnet Rep. Legal</label>
			<div class="col-md-9">
				<input name="foto_carnet_rep_legal" type="file" id="foto_carnet_rep_legal" style="color: transparent" required="true" disabled="true">
			</div>
		</div>
	</div>
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label for="exampleInputFile" class="col-md-3 control-label">Extracto Escritura</label>
			<div class="col-md-9">
				<input name="foto_escritura" type="file" id="foto_escritura" style="color: transparent" required="true" disabled="true">
			</div>
		</div>
	</div>
	<div class="col-md-6 form-group">
		<div class="form-group">
			<label for="exampleInputFile" class="col-md-3 control-label">Dominio Vehiculo</label>
			<div class="col-md-9">
				<input name="foto_dominio_juridica" type="file" id="foto_dominio_juridica" style="color: transparent" required="true" disabled="true">
			</div>
		</div>
	</div>
</div>
<script>
	$("#form_tag :input[type=file]").change(function(){
		$(this).attr('style','color: black');
	});
</script>
