  <style>
  .form-group {
  	margin-bottom: 6px;
  }
</style>
<div class="row" id="row_form_ingreso">
	<?php                                
	$form = $this->form;
	$form->prepare();
	$form->setAttributes(array(
		'action' => $this->basePath()."/app/contrato/nuevo",
		'method' => 'post',
		'id'=>'form_tag',
		'class'=>'form-horizontal'
	));
	echo $this->form()->openTag($form);  
	?>
	<div class="col-md-12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-yellow-lemon text-center">
					<i class="fas fa-rss-square font-yellow-lemon"></i>
					<span class="caption-subject bold uppercase"> Nuevo Tag</span>
				</div>
				<div class="actions">
					<div class="portlet-input input-inline input-medium">
						<div class="input-group input-medium">							
							<?php                                             
							echo $this->formRow($this->form->get('serie'));
							?>               
						</div>
					</div>
					<div class="portlet-input input-inline input-small" style="margin-right: 60px;">
						<div class="input-group input-small">		
							<span class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</span>					
							<?php                                             
							echo $this->formRow($this->form->get('fecha')->setValue(date('Y-m-d'))->setAttribute('max',date('Y-m-d')));
							?>               
						</div>
					</div>
				</div>				
			</div>
			<div class="row portlet-body form">                            
				<div class="form-body col-md-12">   	
					<!--img src="img/logo-rdm.jpeg" width="90px" style="float: right;" /-->
					<?php echo $this->partial("datos_cliente.phtml"); ?>
					<?php echo $this->partial("datos_vehiculo.phtml"); ?>
					<?php echo $this->partial("files.phtml"); ?>
					<?php echo $this->partial("devolucion.phtml"); ?>

					<div id="btn_enviar" class="col-md-12 form-group form-md-line-input has-info text-center">
						<?php 
						echo $this->formRow($this->form->get('enviar'));
						?>
					</div>				
				</div> 
			</div>
		</div>
	</div>

	<?php                   
	echo $this->form()->closeTag($form);
	?> 
</div>
<div class="row" hidden="true" id="msge_exito">
	<div class="col-md-12 text-center">
		<h2>Alta ingresada exitosamente</h2>
		<br>                          
		<p>
			<img src="<?php echo $this->basePath();?>/img/check.png" width="8%" alt=""/>
		</p>
	</div>
	<div class="col-md-12 text-center">   
		<br>                           
		<br>
		<a id="imprimir_contrato" target="_blank" class="btn btn-info btn-lg"><i class="fa fa-print"></i> &nbsp; Imprimir Contrato</a>
	</div>
</div>

<script>
	$("#fecha").attr("min",moment().businessSubtract(2).format("YYYY-MM-DD"));	
	$('.select2').select2({
		width:'100%',
		dropdownPosition : 'down',
	});
	function cargaCliente(persona){
		$("#id_persona").val(persona[0]['id']);
		$("#rut_cliente_").val(persona[0]['rut']+'-'+persona[0]['dv']);
		$("#nombre_cliente_").val(persona[0]['nombre']).attr('disabled');
		$("#apellido_cliente_").val(persona[0]['apellido']);
		$("#telefono_").val(persona[0]['telefono']);
		$("#correo_").val(persona[0]['correo']);
		$("#direccion_").val(persona[0]['direccion']);
		$("#comuna").val(persona[0]['comuna']);
	}
//////////////////
// Busca Modelo //
//////////////////
$("#marca").change(function(){

	$.ajax(
	{
		url : 'app/contrato/buscamodelo',
		type: "POST",
		data : {'id_marca' : $("#marca").val()},
		dataType : 'json',
		beforeSend: function(){
			$("#modelo").html('').select2({data: null});
		},
		success : function(r) {						
			var array = new Array();
			for(i = 0;i<r.length;i++){				
				array.push({'id':r[i].id_modelo,'text':r[i].modelo});
			}					
			$("#modelo").select2({
				data:array,
			});			

		},
		error: function(jqXHR, textStatus, errorThrown) 
		{
			toastr.error("Error! Favor contactar a nuestro equipo de soporte");     
		}
	});
});

//////////////////
//  Post Form   //
//////////////////
$("#form_tag").submit(function(e){			

		//var postData = $(this).serializeArray();
		var postData = new FormData($(this)[0]); 
		var formURL = $(this).attr("action");
		e.preventDefault();
		$("#btn_enviar").attr('disabled','disabled');
		bootbox.confirm("<strong>Estas seguro que desea enviar la activación...?</strong>", function(result) {

			if(result){
				$.ajax(
				{
					url : formURL,
					type: "POST",
					data : postData,
					dataType : 'json',
					contentType:false,
					processData:false,  
					cache:false,
					success : function(response) {
						if (response.status == 'ok'){		
							$("#row_form_ingreso").fadeOut();
							$("#msge_exito").fadeIn();
							$("#imprimir_contrato").attr("href",response.url_pdf);
						}else{
							toastr.warning(response.desc);
						}			
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						toastr.error("Error! Favor contactar a nuestro equipo de soporte")      
					}
				});
			}else{
				toastr.warning("Accion cancelada");       
			}
		});
});
		$("#imprimir_contrato").click(function(){
			location.reload();
		});
	</script>