<style>
html{
	font-family: DejaVu Sans; 
}
h5{	 
	font-weight: 500;
	margin-bottom: 0px;
}
.text-center{
	text-align: center;
}
.container{	
	padding-right: 25px;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;
}
.div-border{
	margin-top: 0;
	margin-bottom: 15px;

	border-style: solid;	
	border-width: 0.5px;
	border-color: black;
	border-radius: 15px;
	
	font-size: 13px;
	line-height: 15px;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 9px;

}
.logo{	
	float: right;	
	padding-right: 40px;
}
table, th, td {	
	border-collapse: collapse;	  
	border-radius: 10px;
	overflow: hidden;
}
th, td {	
	text-align: center;
	padding: 10px;
	background: #ddd;
	border-bottom: 2px solid white; 
}
th{
	font-size: 12px;
	font-weight: bold;
}
td{
	font-size: 11px;
}
.parrafo{
	font-size: 12px;
	text-align: justify;
	line-height: 13px;
}
.firma1{	
	text-align: center;
	border-top: 0.5px solid black;
	font-size: 12px;
	width: 37%;
	margin-left: 37px;
	display: inline-block;
	height: 100px;
}
.firma2{	
	text-align: center;
	border-top: 0.5px solid black;
	font-size: 12px;
	width: 30%;
	margin-left: 240px;
	display: inline-block;
	height: 100px;
}
.msge{
	font-size: 11px;
}
</style>
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico"/>
	<title><?php echo $title;?></title>
</head>	

<div class="container">

	<div>
		<img src="<?php echo $_SERVER['DOCUMENT_ROOT'].'/img/logo-rdm.jpeg';?>" class="logo" width="100px"/>	
		<img src="<?php echo $_SERVER['DOCUMENT_ROOT'].'/img/logo-app.png';?>" width="120px" style="margin-top: 15px;"/>	
	</div>
	


	<div style="padding-top: 35px;margin-bottom: 0px;text-align: center;">
		<h5><b>TU DISPOSITIVO TAG ESTÁ EN PROCESO DE ALTA</b></h5>      		
	</div>
	<br><br>
	<div style="position: absolute;right: 90px;">
		<img src="<?php echo $_SERVER['DOCUMENT_ROOT'].'/img/mail.png';?>" width="130px" style="padding-top: 35px;"/>		
	</div>
	<table style="width:60%;">
		<tr>
			<th style="width:30%;text-align: left;">Fecha:</th>
			<td style="text-align: left;"><?php echo $fecha;?></td>
		</tr>
		<tr>
			<th style="width:30%;text-align: left;">Nombre:</th>
			<td style="text-align: left;"><?php echo $nombre;?></td>
		</tr>
		<tr>
			<th style="text-align: left;">RUT:</th>
			<td style="text-align: left;"><?php echo $rut;?></td>
		</tr>
		<tr>
			<th style="text-align: left;">Dirección:</th>
			<td style="text-align: left;"><?php echo $direccion;?></td>
		</tr>
		<tr>
			<th style="text-align: left;">Teléfono:</th>
			<td style="text-align: left;"><?php echo $telefono;?></td>
		</tr>
		<tr>
			<th style="text-align: left;">Email:</th>
			<td style="text-align: left;"><?php echo $correo;?> *</td>
		</tr>
	</table>
		<div class="msge">
		&nbsp;&nbsp;* La copia del contrato será enviada a esta casilla de correo <br>		
		</div>
	<br>
	<p style="font-size: 12px;margin-bottom: 5px;text-align: center;"><b>Datos del Vehículo</b></p>
	<br>
	<table style="width:100%;">
		<tr>
			<th>Patente</th>
			<th>Clase</th>
			<th>Marca</th>
			<th>Modelo</th>
			<th>SERIE de TAG</th>
			<!--th>Fecha</th-->
		</tr>
		<tr>
			<td><?php echo strtoupper($patente);?></td>
			<td><?php echo $clase;?></td>
			<td><?php echo $marca;?></td>
			<td><?php echo $modelo;?></td>
			<td><?php echo $serie;?></td>
			<!--td><?php echo $fecha;?></td-->
		</tr>
	</table>

	<br><br><br><br><br><br><br>

	<div class="firma2">
		Firma de Cliente <br>		
	</div>

</div>
</body>
</html>

