<style>
.adjunto{
	padding: 15px;
}
</style>	
<div class="row">
	<div class="col-md-12">

		<?php 
		if (count($files)>0) {
			echo '<div class="note note-info text-center">				
			<p> La automotra adjuntó los siguientes archivos en el formulario de alta </p>
			</div>';
		}else{
			echo '<div class="note note-warning text-center">				
			<p> La automotra NO adjuntó archivos en el formulario de alta </p>
			</div>';
		}
		?>

	</div>
	<?php
	for ($i=0; $i < count($files) ; $i++) { 
		echo '<a href="'.$files[$i]['file'].'" download><div class="col-md-6 text-center adjunto" >
		<i class="fa fa-file font-blue-steel" style="font-size: 32px;"></i>
		<h3 class="font-blue-steel">'.$files[$i]['title'].'</h3>
		</div></a>';
	}?>			
</div>				
<script>

</script>