	<div class="row">
		<div class="col-md-12">
			<div class="note note-success">
				<h4 class="block">Cambio Estado Contrato</h4>
				<p> Al adjuntar el anexo PDF se actualizará el estado del contrato a Finalizado OK. </p>
			</div>
		</div>
		<div class="col-md-4  text-center" style="margin-top: 5px;">
			<i class="fa fa-car font-blue-steel" style="font-size: 32px;"></i>
			<h3 class="font-blue-steel"><?php echo strtoupper($contrato[0]['patente']);?></h3>
		</div>
		<form id="form_adjuntar">
			<div class="col-md-8">		
				<div class="form-group">
					<label>Anexo en PDF</label>
					<input type="hidden" name="id_contrato" value="<?php echo $contrato[0]['id'];?>">
					<input type="hidden" name="patente" value="<?php echo $contrato[0]['patente'];?>">
					<input type="file" name="anexo" required="true" />
				</div>	
				<br><br>	
			</div>
			<div class="col-md-12">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Atrás</button>
				<button class="btn btn-success" style="float: right;"> <i class="fa fa-paperclip"></i> &nbsp;&nbsp;Adjuntar</button>
			</div>
		</form>
	</div>				
<script>
//////////////////
//  Post Form   //
//////////////////
$("#form_adjuntar").submit(function(e)
{
    //var postData = $(this).serializeArray();
    var formData = new FormData($(this)[0]);         
    var formURL = '<?php echo $this->basePath().'/admin/contrato/adjuntar';?>';

    $.ajax(
    {
      url : formURL,
      type: "POST",
      data : formData,
      dataType : 'json',
      contentType:false,
      processData:false,  
      cache:false,
      success : function(response) {
        if (response.status == 'ok'){
          	$("#modalContrato").modal('hide');
			toastr.success(response.desc);
			$('#tabla_contratos').DataTable().ajax.reload();
        }else{
          toastr.warning(response.desc);
        }      
      },
      error: function(jqXHR, textStatus, errorThrown) 
      {
        toastr.error("Error! Favor contactar a nuestro equipo de soporte")      
      }
    });
    e.preventDefault();
});
</script>