<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/Buttons/js/buttons.jqueryui.min.js"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
<script src="<?php echo $this->basePath()?>/js/jszip.min.js"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/Buttons/js/buttons.html5.min.js"></script>
<link href="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet"/>


<div class="portlet light bordered">
	<div class="portlet-title tabbable-line">
		<div class="caption">
			<i class="fa fa-file font-blue-steel"></i>
			<span class="caption-subject bold font-blue-steel uppercase">
			Contratos de automotoras </span>
			<span class="caption-helper"></span>
		</div>
	</div>
	<div class="portlet-body">
        <div class="row" style="margin: 15px">
          <table class="table table-striped"  id="tabla_contratos" >
             <thead>
                <tr>
                   <th>*</th>
                   <th>SERIE</th>
                   <th>PATENTE</th>
                   <th>MARCA</th>
                   <th>MODELO</th>
                   <th>CLIENTE</th>					
                   <th>AUTOMOTORA</th>
                   <th>FECHA</th>
                   <th>ESTADO</th>
                   <th></th>
               </tr>
           </thead>
       </table>
   </div>
</div>
</div>

<!-- MODAL ADJUNTAR -->

<div class="modal fade bs-example-modal-md" id="modalContrato" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center;"></h4>
            </div>
            <div id="contentModalContrato" class="modal-body">Cargando ...</div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END MODAL ADJUNTAR -->



    <script>
       /* ++++++++++++++++++++++++++++ */
       /* Instancia & Config DataTable */
       /* ++++++++++++++++++++++++++++ */
       var table = $('#tabla_contratos').DataTable(
       {    

          "ajax" : {        
             "url": "<?php echo $this->basePath();?>" + "/admin/contrato/get","dataSrc":""},
             "aoColumns": [
              { "data": null,"render": function (data) {
              if (data.observacion == 1) {
                return '*';
              }else{
                return '' ;               
              }
              }
             },
             { "data": "serie" },
             { "data": "patente" },
             { "data": "marca" },
             { "data": "modelo" },
             { "data": null,"render": function (data) {            
                return data.nombre+' '+data.apellido;}
            },  		
            { "data": "automotora" },
            { "data": "fecha_inicio" },
            { "data": "estado" },
            { "data": null,"render": function (data) {  
                if (data.estado == "EN PROCESO"){
                   return '<a target="_blank" href="app/contrato/note-pdf/'+data.id+'" class="btn btn-sm btn-info"><i class="fa fa-print"></i></a> <a onclick="muestraAdjunto('+data.id+')" data-target="#modalContrato" data-toggle="modal" class="btn btn-sm btn-info"><i class="fa fa-camera"></i></a> <a onclick="adjunta('+data.id+',\''+data.patente+'\')" data-target="#modalContrato" data-toggle="modal" class="btn btn-sm btn-success"><i class="fa fa-paperclip"></i></a> <a onclick="marcar('+data.id+')" class="btn btn-sm btn-warning"><i class="fa fa-exclamation-circle"></i></a>';
               }else{
                   return '<a onclick="muestraAdjunto('+data.id+')" data-target="#modalContrato" data-toggle="modal" class="btn btn-sm btn-info"><i class="fa fa-camera"></i></a> <a target="_blank" href="files_contrato/'+data.id+'_anexo.pdf" class="btn btn-sm btn-info"><i class="fa fa-print"></i></a>  ';
               }   
            }
        }
       ],
       "language": 
       {
        "sProcessing": '<img src="<?php echo $this->basePath().'/img/busy1.gif';?>"/>',
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": 'No se han encontrado registros.',
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_",
        "sInfoEmpty": "Registros del 0 al 0 de un total de 0",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": 'Cargando ...',
        "oPaginate": {
           "sFirst": "Primero",
           "sLast": "Último",
           "sNext": "Siguiente",
           "sPrevious": "Anterior"
       }
   },
   "order": [[0, 'desc']],
   dom: 'Bfrtip',
   buttons: [
   {
    extend: 'excel',
    title: 'Contratos hasta el '+'<?php echo date("d-m-Y");?>'
}
]
});
       function adjunta(id,patente){

        $("#contentModalContrato").html("");
        $(".modal-title").html("").html("Adjuntar Anexo I");
        $.ajax( {
            url  : 'admin/contrato/form-adjuntar',
            data : {id:id},
            type : 'post',             
            success : function(response) {        	
                $("#contentModalContrato").html(response);
            }
        });

    }
    function marcar(id)
    {
      bootbox.confirm("<strong>Estas segura(o) que deseas marcar este contrato...?</strong>", function(result) {
      if(result){
               $.ajax( {
            url  : 'admin/contrato/marcar',
            data : {id:id},
            type : 'post',             
            success : function(r) {          
               toastr.success(r.desc)
               $('#tabla_contratos').DataTable().ajax.reload();
            }
        });
      }else{
        toastr.warning("Accion cancelada");       
      }
    });

    }
    function muestraAdjunto(id){

        $("#contentModalContrato").html("");
        $(".modal-title").html("").html("Archivos Adjuntos");
        $.ajax( {
            url  : 'admin/contrato/adjuntos',
            data : {id:id},
            type : 'post',             
            success : function(response) {        	
                $("#contentModalContrato").html(response);
            }
        });

    }
</script>