<body class="login">
<!-- BEGIN LOGO -->
<div class="logo" style="padding: 0;">
	<a href="#">
	<img src="<?php echo $this->basePath()?>/img/logo-app.png" alt="" width="150"/>
	</a>
</div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGIN -->
<div class="content">
	<!-- No hay FORM porque se va utilizar JSON -->
        
		<h3 class="form-title">Acceso al sistema</h3>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
			Debes ingresar un usuario y una contrase&ntilde;a. </span>
		</div>
                <div id="mostrarMensajeLogin">
                </div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username</label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input class="form-control placeholder-no-fix" id="user_adm" type="text" autocomplete="off" placeholder="Usuario"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" id="password_adm" type="password" autocomplete="off" placeholder="Contrase&ntilde;a"/>
                <input id="password_adm_2" type="hidden" />
			</div>
		</div>
		<div class="form-actions">
			<label class="checkbox">
			<input type="checkbox" name="remember" value="1"/> Recordar </label>
			<a id="iniciar" class="btn blue pull-right">
                            <span id="ingtext">Ingresar</span> <i id="icnBtnSend" class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
		<!--div class="forget-password">
			<h4>Olvidaste tu constrase&ntilde;a ?</h4>
			<p>
				 Descuida, da un click <a href="javascript:;" id="forget-password">
				aqu&iacute; </a>
				para reestablecerla.
			</p>
		</div-->
		<!-- END LOGIN FORM -->
	<!-- BEGIN FORGOT PASSWORD FORM -->
	<form class="forget-form" action="index.html" method="post">
		<h3>Contrase&ntilde;a Olvidada ?</h3>
		<p>
			 Ingresa tu correo para continuar con el proceso.
		</p>
		<div class="form-group">
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="e-mail" name="email"/>
			</div>
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn" class="btn">
			<i class="m-icon-swapleft"></i> Volver </button>
			<button type="submit" class="btn blue pull-right">
			Enviar <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>
	</form>
	<!-- END FORGOT PASSWORD FORM -->	
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
	 <?php echo date('Y')?> &copy; - UPNOVA SpA 
</div>
<!-- END COPYRIGHT -->
</body>
<script>

        //$('#user_adm').focus();
        $('#iniciar').click(function(e){
            
            viewBtn(0);
            var pass = hex_md5($("#password_adm").val());
            $("#password_adm").val('123456');
            var pass = binHash(pass);
            $("#password_adm_2").val(pass);
            //$("#password_adm").attr("disabled", "disabled");
            sendLogin();
            //$('form#logueo').submit();
            
        });
        $('#password_adm').keypress(function (e) {
            if (e.which == 13) {
            var pass = hex_md5($(this).val());
            var pass = binHash(pass);
            $("#password_adm_2").val(pass);
            sendLogin();
            
                }
                
            });
        
  
$("#formemail").submit(function(e)
{
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        dataType : 'json',
        success : function(response) {
                    
          $("#mostrarEmail").html('<div id="respuesta" class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+response.descripcion+'</div>');                                
          $("#mostrarEmail").fadeOut(5000);
          if (response.status == "ok"){
          $("#enviarformemail").attr('disabled', 'disabled');
          }
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
            $("#mostrarEmail").html('<div id="respuesta" class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>Error en el env&iacute;o de datos al servidor</div>')      
        }
    });
    e.preventDefault(); //STOP default action    
});  

function sendLogin(){
var postData={user_adm:$("#user_adm").val(),password_adm:$("#password_adm_2").val()};
$.ajax(
    {
        url : '<?php echo $this->basePath()."/application/login"?>',
        type: "post",
        data : postData,
        before:function(){
        
        },
        success : function(r) {
               
               if(r.status=="ok"){
                   $(location).attr('href',r.url); 
               }else{
                   putMsj(r.error);
                   clearLg();
                   viewBtn(1);
               }
               
        },
        error: function(request) {
                viewBtn(1);
                alert(request.responseText);
        }
    });

}

function putMsj(texto)
{
    $("#mostrarMensajeLogin").html('<div class="alert alert-danger text-center">'+texto+'</div>');
}
function clearLg(){
  $('#user_adm').val('');
  $('#password_adm').val('');
  $('#password_adm_2').val('');
  $('#user_adm').focus();  
}
function viewBtn(id){
    if(id==0){
        $("#icnBtnSend").attr("class","fa fa-circle-o-notch fa-spin");
        $("#ingtext").text("Cargando");
        $("#iniciar").attr("disabled", "disabled");
    }else{
        $("#icnBtnSend").attr("class","m-icon-swapright m-icon-white");
        $("#ingtext").text("Ingresar");
        $("#iniciar").removeAttr("disabled");
        }
}

    </script>