<!DOCTYPE html>

<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title> Seditag APP</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css"/>
<link href="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<!-- END GLOBAL MANDATORY STYLES -->

<link href="<?php echo $this->basePath()?>/metronic/theme/assets/admin/pages/css/login-soft.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="<?php echo $this->basePath()?>/metronic/theme/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="<?php echo $this->basePath()?>/metronic/theme/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="<?php echo $this->basePath()?>/metronic/theme/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>

<!-- END THEME STYLES -->
<link rel="shortcut icon" href="img/favicon.ico"/>


<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/admin/pages/scripts/login-soft.js" type="text/javascript"></script>
<script src="<?php echo $this->basePath()?>/js/md5.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {       
       // init background slide images
       $.backstretch([
        "<?php echo $this->basePath()?>/img/bg-login/1.jpg",
        "<?php echo $this->basePath()?>/img/bg-login/2.jpg",
        "<?php echo $this->basePath()?>/img/bg-login/3.jpg",                
        ], {
          fade: 1000,
          duration: 8000
    }
    );
});
</script>


<?php echo $this->content; ?>
</body>
<!-- END BODY -->
</html>