<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>


<?php //echo $clave; ?>
<h3 class="page-title"> Panel de Estad&iacute;sticas</h3>
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;">
			<div class="visual">
				<i class="fa fa-clock"></i>
			</div>
			<div class="details">
				<div class="number">
					<?php echo $dash['contrato_proceso'];?>
				</div>
				<div class="desc">
					Contratos en Proceso
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-light green-soft" href="javascript:;">
			<div class="visual">
				<i class="fa fa-check"></i>
			</div>
			<div class="details">
				<div class="number">
					<?php echo $dash['contrato_ok'];?>
				</div>
				<div class="desc">
					TAG's Activados
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-light purple-soft" href="javascript:;">
			<div class="visual">
				<i class="fa fa-rss"></i>
			</div>
			<div class="details">
				<div class="number">
					<?php echo $dash['tag_libre'];?>
				</div>
				<div class="desc">
					Series Libres
				</div>
			</div>
		</a>
	</div>					
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;">
			<div class="visual">
				<i class="fa fa-comments"></i>
			</div>
			<div class="details">
				<div class="number">
					<?php echo $dash['automotoras'];?>
				</div>
				<div class="desc">
					Automotoras
				</div>
			</div>
		</a>
	</div>
</div>

<div class="row">

	<div class="col-md-6 col-sm-6">
		<!-- BEGIN PORTLET-->
		<div class="portlet light ">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-share font-red-sunglo hide"></i>
					<span class="caption-subject font-red-sunglo bold uppercase">Contratos</span>
					<span class="caption-helper">mes a mes</span>
				</div>
			</div>
			<div class="portlet-body">
				<div id="site_activities_loading">
					<img src="<?php echo $this->basePath()?>/metronic/theme/assets/admin/layout2/img/loading.gif" alt="loading"/>
				</div>
				<div id="site_activities_content" class="display-none">
					<div id="contratos_mes" style="height: 228px;width: 100%;">
					</div>
				</div>
				<div style="margin: 20px 0 10px 30px">
					<div class="row">

					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-md-6 col-sm-12">					
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart font-blue-steel hide"></i>
					<span class="caption-subject font-blue-steel bold uppercase">Automotoras y Series</span>
					<span class="caption-helper hide"></span>
				</div>
				</div>
				<div class="portlet-body">
					<!--div class="row number-stats margin-bottom-30 hide">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="stat-left">
								<div class="stat-chart">											
									<div id="sparkline_bar"></div>
								</div>
								<div class="stat-number">
									<div class="title">
										Total
									</div>
									<div class="number">
										39
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="stat-right">
								<div class="stat-chart">											
									<div id="sparkline_bar2"></div>
								</div>
								<div class="stat-number">
									<div class="title">
										Nuevos
									</div>
									<div class="number">
										11
									</div>
								</div>
							</div>
						</div>
					</div-->					
					<table class="table table-condensed table-hover" id="tabla_automotora">						
						<thead>
							<tr class="uppercase font-blue-steel">
								<th>
									
								</th>
								<th>
									AUTOMOTORA
								</th>
								<th>
									SERIES
								</th>								
							</tr>
						</thead>
						<tbody>
							<?php  $tbody = "";        
							foreach ($series as $value) {
								if ($value["libres"] < 5) {
									$color = "btn-danger";
								}
								if ($value["libres"] > 4) {
									$color = "btn-warning";
								}
								if ($value["libres"] > 10) {
									$color = "btn-success";
								}
								$tbody =$tbody.'<tr><td><button style="padding:14px 14px;" type="button" class="btn btn-circle '.$color.'"></button>&nbsp;</td>								
								<td>'.$value["automotora"].'</td>
								<td>'.$value["libres"].'</td>
								</tr>';
							}
							echo $tbody;
							?>   
						</tbody>
					</table>
				</div>
			</div>					
		</div>
	</div>
	<script>
		function showChartTooltip(x, y, xValue, yValue) {
			$('<div id="tooltip" class="chart-tooltip">' + yValue + '<\/div>').css({
				position: 'absolute',
				display: 'none',
				top: y - 40,
				left: x - 40,
				border: '0px solid #ccc',
				padding: '2px 6px',
				'background-color': '#fff'
			}).appendTo("body").fadeIn(200);
		}
		if ($('#contratos_mes').size() != 0) {
                //site activities
                var previousPoint2 = null;
                $('#site_activities_loading').hide();
                $('#site_activities_content').show();

                var data1 = <?php echo str_replace(":",",",str_replace("{","[",str_replace("}","]",str_replace("{","[",json_encode($data))))); ?>


                var plot_statistics = $.plot($("#contratos_mes"),

                	[{
                		data: data1,
                		lines: {
                			fill: 0.2,
                			lineWidth: 0,
                		},
                		color: ['#BAD9F5']
                	}, {
                		data: data1,
                		points: {
                			show: true,
                			fill: true,
                			radius: 4,
                			fillColor: "#9ACAE6",
                			lineWidth: 2
                		},
                		color: '#9ACAE6',
                		shadowSize: 1
                	}, {
                		data: data1,
                		lines: {
                			show: true,
                			fill: false,
                			lineWidth: 3
                		},
                		color: '#9ACAE6',
                		shadowSize: 0
                	}],

                	{

                		xaxis: {
                			tickLength: 0,
                			tickDecimals: 0,
                			mode: "categories",
                			min: 0,
                			font: {
                				lineHeight: 18,
                				style: "normal",
                				variant: "small-caps",
                				color: "#6F7B8A"
                			}
                		},
                		yaxis: {
                			ticks: 5,
                			tickDecimals: 0,
                			tickColor: "#eee",
                			font: {
                				lineHeight: 14,
                				style: "normal",
                				variant: "small-caps",
                				color: "#6F7B8A"
                			}
                		},
                		grid: {
                			hoverable: true,
                			clickable: true,
                			tickColor: "#eee",
                			borderColor: "#eee",
                			borderWidth: 1
                		}
                	});

                $("#contratos_mes").bind("plothover", function (event, pos, item) {
                	$("#x").text(pos.x.toFixed(2));
                	$("#y").text(pos.y.toFixed(2));
                	if (item) {
                		if (previousPoint2 != item.dataIndex) {
                			previousPoint2 = item.dataIndex;
                			$("#tooltip").remove();
                			var x = item.datapoint[0].toFixed(2),
                			y = item.datapoint[1].toFixed(2);
                			showChartTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1] + ' Contratos');
                		}
                	}
                });

                $('#contratos_mes').bind("mouseleave", function () {
                	$("#tooltip").remove();
                });
            }

        </script>