<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/Buttons/js/buttons.jqueryui.min.js"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
<script src="<?php echo $this->basePath()?>/js/jszip.min.js"></script>
<script src="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/extensions/Buttons/js/buttons.html5.min.js"></script>
<link href="<?php echo $this->basePath()?>/metronic/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet"/>


<div class="portlet light bordered">
	<div class="portlet-title tabbable-line">
		<div class="caption">
			<i class="fa fa-check font-yellow-lemon"></i>
			<span class="caption-subject bold font-yellow-lemon uppercase">
			Mis altas </span>
			<span class="caption-helper"></span>
		</div>
	</div>
	<div class="portlet-body">										
		<div class="row" style="margin: 15px">
			<table class="table table-striped"  id="tabla_altas" >
				<thead>
					<tr>
						<th>SERIE</th>
						<th>PATENTE</th>
						<th>MARCA</th>
						<th>MODELO</th>
						<th>NOMBRE</th>
						<th>TELEFONO</th>
						<th>CORREO</th>
						<th>FECHA</th>
						<th>ESTADO</th>
						<th></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<script>
	/* +++++++++++++++++++++++++++++++ */
	/* Configuracion inputs formulario */
	/* +++++++++++++++++++++++++++++++ */
    //$('#ip_dns').mask('0ZZ.0ZZ.0ZZ.0ZZ', {translation:  {'Z': {pattern: /[0-9]/, optional: true}}});
    //$("#tipo_dns").bootstrapSwitch(); 
    //$("#entel_dns").bootstrapSwitch();
 //Flat red color scheme for iCheck
 /* ++++++++++++++++++++++++++++ */
 /* Instancia & Config DataTable */
 /* ++++++++++++++++++++++++++++ */
 
 var table = $('#tabla_altas').DataTable(
 {    
 	"ajax" : {        
 		"url": "<?php echo $this->basePath();?>" + "/app/alta/get","dataSrc":""},
 		"aoColumns": [
 		{ "data": "serie" },
 		{ "data": "patente" },
 		{ "data": "marca" },
 		{ "data": "modelo" },
 		{ "data": null,"render": function (data) {            
            return data.nombre+' '+data.apellido;
        }
        }, 
 		{ "data": "telefono" },
 		{ "data": "correo" },
 		{ "data": "fecha_inicio" },
 		{ "data": "estado" },
 		 { "data": null,"render": function (data) {  
 			if (data.estado == "EN PROCESO"){
 				return '<a target="_blank" href="app/contrato/note-pdf/'+data.id+'" class="btn btn-info"><i class="fa fa-print"></i></a>';
 			}else{
 				return '<a target="_blank" href="files_contrato/'+data.id+'_anexo.pdf" class="btn btn-info"><i class="fa fa-print"></i></a>';
 			}          
        }
        }
 		],
 		"language": 
 		{
 			"sProcessing": '<img src="<?php echo $this->basePath().'/img/busy1.gif';?>"/>',
 			"sLengthMenu": "Mostrar _MENU_ registros",
 			"sZeroRecords": 'No se han encontrado registros.',
 			"sEmptyTable": "Ningún dato disponible en esta tabla",
 			"sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_",
 			"sInfoEmpty": "Registros del 0 al 0 de un total de 0",
 			"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
 			"sInfoPostFix": "",
 			"sSearch": "Buscar:",
 			"sUrl": "",
 			"sInfoThousands": ",",
 			"sLoadingRecords": 'Cargando ...',
 			"oPaginate": {
 				"sFirst": "Primero",
 				"sLast": "Último",
 				"sNext": "Siguiente",
 				"sPrevious": "Anterior"
 			}
 		},
 		"order": [[0, 'desc']],
 		dom: 'Bfrtip',
        buttons: ['excel']        
 	});

 /* +++++++++ */
 /*  ELIMINAR */
 /* +++++++++ */
 table.on('click', 'a.eliminar', function (e) {    
 	e.preventDefault();
 	var bool = confirm("¿Está seguro que desea eliminar?");
 	if (bool) {      
        //$(this).closest('tr').fadeOut().remove();   
        var serie = $(this).closest('tr').find("td:first").text();
        $.ajax(
        {
        	url: "<?php echo $this->basePath();?>" + '/admin/serie/borra',
        	type: "POST",
        	data : {serie:serie},
        	dataType : 'json',
        	success : function(response) { 
        		if (response.status == "ok") {
        			toastr.success(response.desc)
        			getView('serie','tabla','div_ver');
        		}else{
        			toastr.warning(response.desc)
        		}
        	},
        	error: function(jqXHR, textStatus, errorThrown) 
        	{

        	}
        });
    }       
});
</script>